body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

article {
  background-color: #fefefe;
  border: 2px solid #ccc;
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
}

aside {
  background-color: #f0f8ff;
  border-left: 3px solid #3399cc;
  padding: 1rem;
  font-size: 1rem;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  font-size: 2rem;
  color: crimson;
  margin-right: 1rem;
}


header{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}


footer {
  background-color: #222;
  color: #aaa;
  font-size: 0.9rem;
}


